@use "../vendors/variables" as v;
@use "../vendors/mixin" as m;
.ad {
    background-color: map-get(v.$web-colors, light-black);
    padding: 80px;
    border-bottom: 1px solid map-get(v.$web-colors, dark-gray);

    .ad-place {
        @include m.flex(column, null, null, null, 50px);

        .first-sec {
            @include m.flex(row, center, center, null, 40px);

            .ad-logo {
                img {
                    width: 120px;
                    height: 120px;

                    @media (max-width: 900px) {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            .ad-info {
                @include m.flex(column, null, null, null, 18px);



                #cat {
                    color: map-get(v.$web-colors, white-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                    background-color: map-get(v.$web-colors, dark-gray);
                    padding: 2px;
                    width: 220px;
                    text-align: center;
                }

                h1 {
                    color: map-get(v.$web-colors, white-color);
                    font-family: v.$head-font;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: -1.32px;

                    @media (max-width: 900px) {
                        font-size: 28px;
                    }
                }

                #desc {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }

        .other-links {
            background-color: map-get(v.$web-colors, black-color);
            border: 1px solid map-get(v.$web-colors, dark-gray);
            border-radius: 10px;
            padding: 10px;
            border: 1px solid map-get(v.$web-colors, light-black);
            @include m.flex(row, center, null, null, 10px);
            align-self: stretch;

            @media (max-width: 900px) {
                @include m.flex(column, null, null, wrap, 30px);
            }

            .link-box {
                padding: 30px;
                flex: 1 0 0;
                background-color: map-get(v.$web-colors, light-black);
                border-radius: 10px;
                border: 1px solid map-get(v.$web-colors, dark-gray);
                @include m.flex(column, null, flex-start, null, 16px);

                @media (max-width: 900px) {
                    @include m.flex(row, null, null, wrap, 20px);
                }

                .line-heading {
                    @include m.flex(row, center, center, null, 170px);

                    @media (max-width: 900px) {
                        @include m.flex(row, null, null, wrap, 20px);
                    }

                    h2 {
                        color: map-get(v.$web-colors, white-color);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        letter-spacing: -0.54px;
                    }

                    button {
                        border: none;
                        border-radius: 50%;
                        background-color: map-get(v.$web-colors, yellow-color);
                        height: 40px;
                        width: 40px;

                        i {
                            font-size: 24px;
                        }
                    }
                }

                p {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }
    }
}