@use "../vendors/variables" as v;
@use "../vendors/mixin" as m;
.head {
    padding: 70px 80px;
    border-top: 1px solid map-get(v.$web-colors, dark-gray);
    border-bottom: 1px solid map-get(v.$web-colors, dark-gray);

    .head-content {
        @include m.flex(column, null, null, null, 16px);

        .first-head {
            @include m.flex(row, flex-start, center, null, null);

            h1 {
                color: map-get(v.$web-colors, white-color);
                font-family: v.$head-font;
                font-size: 55px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -1.65px;

                @media (max-width: 900px) {
                    font-size: 24px;
                }
            }
        }

        .one-line {
            @include m.flex(row, flex-start, null, null, 50px);

            @media (max-width: 900px) {
                @include m.flex(column, flex-start, null, null, 50px);
            }

            h1 {
                color: map-get(v.$web-colors, white-color);
                font-family: v.$head-font;
                font-size: 55px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -1.65px;

                @media (max-width: 900px) {
                    font-size: 24px;
                    @include m.flex(row, flex-start, null, null, 50px);
                }
            }

            p {
                color: map-get(v.$web-colors, gray-color);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.48px;
            }
        }
    }
}