@use "../vendors/variables" as v;
@use "../vendors/mixin" as m;
.tweet {
    padding: 60px 80px;
    border-bottom: 1px solid map-get(v.$web-colors, dark-gray);

    .tweet-place {
        @include m.flex(row, center, flex-start, null, 160px);

        @media (max-width: 900px) {
            @include m.flex(column, null, null, wrap, 30px);
        }


        .pic-name {
            @include m.flex(row, null, center, nowrap, 10px);

            .profile-pic {

                img {
                    border-radius: 42px;
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                }
            }

            .acc-name {
                h4 {
                    color: map-get(v.$web-colors, white-color);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.54px;
                }

                p {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }

        .post-details {
            @include m.flex(row, space-between, center, null, 120px);

            @media (max-width: 900px) {
                @include m.flex(column, flex-start, flex-start, nowrap, 30px);
            }

            .post-preview {
                @include m.flex(column, null, null, null, 20px);

                #date {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.54px;
                }

                h3 {
                    color: map-get(v.$web-colors, white-color);
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.66px;
                }

                #preview {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }

                .act-btns {
                    @include m.flex(row, null, flex-start, null, 20px);

                    .likes {
                        @include m.flex(row, center, center, null, 5px);
                        background-color: map-get(v.$web-colors, light-black);
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: map-get(v.$web-colors, gray-color);
                            font-family: v.$head-font;
                            font-size: v.$font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: map-get(v.$web-colors, gray-color);
                        }
                    }

                    .chat {
                        @include m.flex(row, center, center, null, 5px);
                        background-color: map-get(v.$web-colors, light-black);
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: map-get(v.$web-colors, gray-color);
                            font-family: v.$head-font;
                            font-size: v.$font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: map-get(v.$web-colors, gray-color);
                        }
                    }

                    .sent {
                        @include m.flex(row, center, center, null, 5px);
                        background-color: map-get(v.$web-colors, light-black);
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: map-get(v.$web-colors, gray-color);
                            font-family: v.$head-font;
                            font-size: v.$font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: map-get(v.$web-colors, gray-color);
                        }
                    }
                }

            }

            .read-more {
                @media (max-width: 900px) {
                    @include m.flex(column, flex-start, flex-start, nowrap, 30px);
                }

                button {
                    i {
                        color: map-get(v.$web-colors, yellow-color);
                    }
                }
            }

        }
    }
}