@use "../vendors/variables" as v;
@use "../vendors/mixin" as m;

.third {
    padding: 60px 80px;

    .trends {
        @include m.flex(row, space-between, center, null, null);

        @media (max-width: 900px) {
            @include m.flex(column, flex-start, center, null, 40px);
        }

        .first-col {
            @include m.flex(column, null, null, null, 20px);

            .post-img {
                img {
                    width: 400px;
                    height: 424px;
                }
            }

            .profile-info {
                @include m.flex(row, space-between, null, null, null);

                .prof-one {
                    @include m.flex(row, null, center, null, 8px);

                    .pfp {
                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }

                    .username {
                        @include m.flex(column, null, null, null, 5px);

                        h2 {
                            color: map-get(v.$colors, black-color);
                            font-family: "DM Sans";
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            color: #363639;
                            font-family: "DM Sans";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                .prof-two {
                    @include m.flex(column, null, null, null, 5px);

                    h4 {
                        color: #3A3A3A;
                        font-family: "DM Sans";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {
                        color: #3A3A3A;
                        font-family: "DM Sans";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .second-col {
            @include m.flex(column, space-between, null, null, 20px);

            .one-post {
                @include m.flex(row, null, null, null, 20px);

                @media (max-width: 900px) {
                    @include m.flex(row, center, center, null, 30px);
                }

                .post-preview {
                    img {
                        width: 147px;
                        height: 147px;
                    }
                }

                .post-info {
                    @include m.flex(column, center, flex-start, null, 10px);

                    .post-name {
                        h1 {
                            color: map-get(v.$colors, black-color);
                            ;
                            font-family: "DM Sans";
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }

                    .post-stats {
                        @include m.flex(row, space-between, center, null, 10px);

                        img {
                            width: 34px;
                            height: 34px;
                        }

                        h4 {
                            color: #00AC4F;
                            font-family: "DM Sans";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            border: 1px solid #00AC4F;
                            padding: 5px;
                            @include m.isCircle(xs-size);
                        }

                        p {
                            color: #757575;
                            font-family: "DM Sans";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .post-btn {
                        display: inline-flex;
                        gap: 10px;
                    }
                }
            }
        }

        .third-col {
            @include m.flex(column, null, null, null, 40px);
            border-left: 1px solid rgba(222, 222, 222, 0.64);

            .trend-head {
                padding: 10px 20px;
                margin-left: 10px;

                h4 {
                    color: #000;
                    font-family: v.$head-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1px;
                    margin-bottom: 4px;
                }

                p {
                    color: map-get(v.$colors, purple-color);
                    font-family: "DM Sans";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .trend-ranking {
                @include m.flex(column, null, null, null, 0px);
                padding: 10px 15px;

                .ranking {
                    @include m.flex(row, space-between, center, null, 18px);
                    border-bottom: 1px solid rgba(222, 222, 222, 0.64);
                    padding: 10px 15px;

                    .number {
                        h3 {
                            color: map-get(v.$colors, black-color);
                            text-align: center;
                            font-family: "DM Sans";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 103%;
                            /* 24.72px */
                            letter-spacing: -0.6px;
                        }
                    }

                    .pic-prof {
                        position: relative;

                        img {
                            width: 60px;
                            height: 60px;
                        }

                        .vertified {
                            position: absolute;
                            top: -6px; //-68px;
                            right: -10px; // -38px;

                            img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    .name-prof {
                        @include m.flex(column, null, null, null, 3px);

                        h1 {
                            color: map-get(v.$colors, black-color);
                            font-family: "DM Sans";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 103%;
                            /* 16.48px */
                            letter-spacing: -0.4px;
                        }

                        p {
                            color: #636363;
                            font-family: "DM Sans";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 103%;
                            /* 14.42px */
                            letter-spacing: -0.35px;
                        }
                    }

                    .green-value {
                        h1 {
                            color: map-get(v.$colors, green-color);
                            text-align: right;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 103%;
                            /* 20.6px */
                            letter-spacing: -0.5px;
                        }
                    }

                    .red-value {
                        h1 {
                            color: map-get(v.$colors, red-color);
                            text-align: right;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 103%;
                            /* 20.6px */
                            letter-spacing: -0.5px;
                        }
                    }
                }

                .no-bottom {
                    border-bottom: none;
                }
            }
        }
    }
}