.tweet {
    padding: 60px 80px;
    border-bottom: 1px solid $dark-gray;

    .tweet-place {
        @include flex(row, center, start, null, 160px);

        @media (max-width: 600px) {
            @include flex(column, null, null, wrap, 30px);
        }


        .pic-name {
            @include flex(row, null, center, nowrap, 10px);

            .profile-pic {

                img {
                    border-radius: 42px;
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                }
            }

            .acc-name {
                h4 {
                    color: $white;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.54px;
                }

                p {
                    color: $gray;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }

        .post-details {
            @include flex(row, space-between, center, null, 120px);

            @media (max-width: 600px) {
                @include flex(column, start, start, nowrap, 30px);
            }

            .post-preview {
                @include flex(column, null, null, null, 20px);

                #date {
                    color: $gray;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.54px;
                }

                h3 {
                    color: $white;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.66px;
                }

                #preview {
                    color: $gray;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }

                .act-btns {
                    @include flex(row, null, start, null, 20px);

                    .likes {
                        @include flex(row, center, center, null, 5px);
                        background-color: $light-black;
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: $gray;
                            font-family: $head-font;
                            font-size: $font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: $gray;
                        }
                    }

                    .chat {
                        @include flex(row, center, center, null, 5px);
                        background-color: $light-black;
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: $gray;
                            font-family: $head-font;
                            font-size: $font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: $gray;
                        }
                    }

                    .sent {
                        @include flex(row, center, center, null, 5px);
                        background-color: $light-black;
                        padding: 5px 10px;
                        border-radius: 10px;

                        p {
                            color: $gray;
                            font-family: $head-font;
                            font-size: $font-xs;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            letter-spacing: -0.42px;
                        }

                        i {
                            color: $gray;
                        }
                    }
                }

            }

            .read-more {
                @media (max-width: 600px) {
                    @include flex(column, start, start, nowrap, 30px);
                }

                button {
                    padding: 18px 24px;
                    border-radius: 8px;
                    border: 1px solid $dark-gray;
                    background-color: $black;
                    color: $gray;

                    i {
                        color: $yellow;
                    }
                }
            }

        }
    }
}