.video {
    .rowk {
        @include flex(row, center, center, null, 100px);
        padding: 60px;
        border-bottom: 1px solid $dark-gray;

        @media (max-width: 600px) {
            @include flex(column, center, center, null, 100px);
        }

        .one-video {
            @include flex(column, null, null, null, 20px);

            .video-prew {
                img {
                    width: 590px;
                    height: 331px;

                    @media (max-width: 600px) {
                        // @include flex(column, center, center, null, 100px);
                        width: 358px;
                        height: 210px;
                    }
                }
            }

            .video-desc {
                @include flex(column, null, null, null, 3px);

                h3 {
                    color: $white;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.6px;
                }

                p {
                    color: $gray;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }
    }
}