@use "../vendors/variables" as v;
@use "../vendors/mixin" as m;
.video {
    .rowk {
        @include m.flex(row, center, center, null, 100px);
        padding: 60px;
        border-bottom: 1px solid map-get(v.$web-colors, dark-gray);

        @media (max-width: 900px) {
            @include m.flex(column, center, center, null, 100px);
        }

        .one-video {
            @include m.flex(column, null, null, null, 20px);

            .video-prew {
                img {
                    width: 590px;
                    height: 331px;

                    @media (max-width: 900px) {
                        // @include flex(column, center, center, null, 100px);
                        width: 358px;
                        height: 210px;
                    }
                }
            }

            .video-desc {
                @include m.flex(column, null, null, null, 3px);

                h3 {
                    color: map-get(v.$web-colors, white-color);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.6px;
                }

                p {
                    color: map-get(v.$web-colors, gray-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.48px;
                }
            }
        }
    }
}