footer {
    padding-top: 80px;
    padding-bottom: 30px;

    .footer-space {

        .link-list {
            padding-bottom: 30px;
            @include flex(row, space-between, null, null, null);
            align-self: stretch;

            @media (max-width: 600px) {
                @include flex(column, center, center, wrap, 30px);
            }

            .one-list {
                @include flex(column, null, null, null, 10px);

                h4 {
                    color: $white;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: -0.54px;
                }

                #btn-h4 {
                    @media (max-width: 600px) {
                        margin-left: 5px;
                    }
                }

                ul {
                    @include flex(column, null, null, null, 5px);

                    li {
                        text-decoration: none;
                    }

                    #btn {
                        padding: 14px 16px;
                        border-radius: 8px;
                        border: 1px solid $dark-gray;
                        background-color: $black;
                        color: $gray;

                        i {
                            color: $yellow;
                        }
                    }
                }

                #btn-list {
                    h4 {
                        @media (max-width: 600px) {
                            @include flex(row, center, center, wrap, 10px);
                        }
                    }

                    @media (max-width: 600px) {
                        @include flex(row, null, null, wrap, 10px);
                    }
                }
            }
        }

        .bottom-part {
            @include flex(row, space-between, null, null, 5px);
            border-top: 1px solid $dark-gray;
            padding-top: 40px;

            @media (max-width: 600px) {
                @include flex(column, center, center, wrap, 18px);
            }

            #policy {
                color: $gray;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: -0.42px;

                @media (max-width: 600px) {
                    order: 2;
                }
            }

            .socials {
                @include flex(row, null, null, null, 6px);

                i {
                    font-size: 22px;

                    &:hover {
                        color: $yellow;
                    }
                }

                @media (max-width: 600px) {
                    order: 1;
                }
            }

            #rights {
                color: $gray;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: -0.42px;

                @media (max-width: 600px) {
                    order: 3;
                }
            }
        }
    }
}