nav {
    @include flex(row, space-between, center, null, 120px);
    align-self: stretch;
    background-color: $light-black;
    padding: 20px 16px;

    @media screen and (max-width: 1200px) {
        @include flex(row, space-between, center, null, null);
    }

    .logo {
        width: 100%;
        height: 100%;

        img {
            width: 178.906px;
            height: 50px;
            object-fit: cover;
        }
    }

    .navbar {
        display: block;
        @include flex(row, center, center, null, 40px);

        ul {
            @include flex(row, center, center, null, 40px);

            #default {
                padding: 10px 18px;
                border-radius: 10px;
                background-color: $black;
                border: 1px solid $gray;
            }
        }

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    .right-content {
        @include flex(row, space-between, center, null, null);

        .contact-us-btn {
            @include flex(row, center, center, null, 40px);

            button {
                display: block;
                padding: 20px 25px;
                background-color: $yellow;
                color: $black;
                text-transform: capitalize;
                border: none;
                border-radius: 10px;
                font-size: large;

                &:hover {
                    background-color: $black;
                    color: $white;
                }

                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }
        }

        .hamburger {
            display: none;

            @media screen and (max-width: 1200px) {
                @include flex(row, center, center, null, 40px);
                font-size: 28px;
                align-self: stretch;
            }
        }
    }
}