@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #98989A;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
a:hover {
  border-color: #98989A;
  color: #FFD11A;
}

.sub-heading {
  padding: 80px;
  border-bottom: 1px solid #262626;
  background-color: #1A1A1A;
}
.sub-heading .sub-heading-place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .sub-heading .sub-heading-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}
.sub-heading .sub-heading-place .subH-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.sub-heading .sub-heading-place .subH-text .sub-cat-one {
  width: 226px;
  background-color: #262626;
  padding: 4px 8px;
  border-radius: 4px;
}
.sub-heading .sub-heading-place .subH-text .sub-cat-one p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  background-color: #262626;
  padding: 4px 8px;
  border-radius: 4px;
}
.sub-heading .sub-heading-place .subH-text .sub-cat-two {
  width: 150px;
  background-color: #262626;
  padding: 4px 8px;
  border-radius: 4px;
}
.sub-heading .sub-heading-place .subH-text .sub-cat-two p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  background-color: #262626;
  padding: 4px 8px;
  border-radius: 4px;
}
.sub-heading .sub-heading-place .subH-text h1 {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.32px;
}
@media (max-width: 900px) {
  .sub-heading .sub-heading-place .subH-text h1 {
    font-size: 28px;
  }
}
.sub-heading .sub-heading-place .subH-btn button {
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #262626;
  background-color: #141414;
  color: white;
}
.sub-heading .sub-heading-place .subH-btn button i {
  color: #FFD11A;
}
@media (max-width: 900px) {
  .sub-heading .sub-heading-place .subH-btn button {
    align-self: stretch;
  }
}

.read-more button {
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #262626;
  background-color: #141414;
  color: #98989A;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #141414;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  background-color: #1A1A1A;
  padding: 20px 16px;
}
@media screen and (max-width: 900px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
nav .logo {
  width: 100%;
  height: 100%;
}
nav .logo img {
  width: 178.906px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .navbar {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
nav .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
nav .navbar ul #default {
  padding: 10px 18px;
  border-radius: 10px;
  background-color: #141414;
  border: 1px solid #98989A;
}
@media screen and (max-width: 900px) {
  nav .navbar {
    display: none;
  }
}
nav .right-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .right-content .contact-us-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
nav .right-content .contact-us-btn button {
  display: block;
  padding: 20px 25px;
  background-color: #FFD11A;
  color: #141414;
  text-transform: capitalize;
  border: none;
  border-radius: 10px;
  font-size: large;
}
nav .right-content .contact-us-btn button:hover {
  background-color: #141414;
  color: white;
}
@media screen and (max-width: 900px) {
  nav .right-content .contact-us-btn button {
    display: none;
  }
}
nav .right-content .hamburger {
  display: none;
}
@media screen and (max-width: 900px) {
  nav .right-content .hamburger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 28px;
    align-self: stretch;
  }
}

footer {
  padding-top: 80px;
  padding-bottom: 30px;
}
footer .footer-space .link-list {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}
@media (max-width: 900px) {
  footer .footer-space .link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
footer .footer-space .link-list .one-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-space .link-list .one-list h4 {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.54px;
}
@media (max-width: 900px) {
  footer .footer-space .link-list .one-list #btn-h4 {
    margin-left: 5px;
  }
}
footer .footer-space .link-list .one-list ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer-space .link-list .one-list ul li {
  text-decoration: none;
}
footer .footer-space .link-list .one-list ul #btn {
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #262626;
  background-color: #141414;
  color: #98989A;
}
footer .footer-space .link-list .one-list ul #btn i {
  color: #FFD11A;
}
@media (max-width: 900px) {
  footer .footer-space .link-list .one-list #btn-list h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 900px) {
  footer .footer-space .link-list .one-list #btn-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
footer .footer-space .bottom-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  border-top: 1px solid #262626;
  padding-top: 40px;
}
@media (max-width: 900px) {
  footer .footer-space .bottom-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
  }
}
footer .footer-space .bottom-part #policy {
  color: #98989A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.42px;
}
@media (max-width: 900px) {
  footer .footer-space .bottom-part #policy {
    order: 2;
  }
}
footer .footer-space .bottom-part .socials {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
footer .footer-space .bottom-part .socials i {
  font-size: 22px;
}
footer .footer-space .bottom-part .socials i:hover {
  color: #FFD11A;
}
@media (max-width: 900px) {
  footer .footer-space .bottom-part .socials {
    order: 1;
  }
}
footer .footer-space .bottom-part #rights {
  color: #98989A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.42px;
}
@media (max-width: 900px) {
  footer .footer-space .bottom-part #rights {
    order: 3;
  }
}

.head {
  padding: 70px 80px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
.head .head-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.head .head-content .first-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.head .head-content .first-head h1 {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.65px;
}
@media (max-width: 900px) {
  .head .head-content .first-head h1 {
    font-size: 24px;
  }
}
.head .head-content .one-line {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
}
@media (max-width: 900px) {
  .head .head-content .one-line {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
  }
}
.head .head-content .one-line h1 {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.65px;
}
@media (max-width: 900px) {
  .head .head-content .one-line h1 {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 50px;
  }
}
.head .head-content .one-line p {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.blog-post {
  padding: 60px 80px;
  border-bottom: 1px solid #262626;
}
.blog-post .blog-place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media (max-width: 900px) {
  .blog-post .blog-place {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .blog-post .blog-place .blog-img {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }
}
.blog-post .blog-place .blog-img img {
  width: 515px;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .blog-post .blog-place .blog-img img {
    width: 358px;
    height: 213px;
  }
}
.blog-post .blog-place .blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.blog-post .blog-place .blog-text .head-and-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-post .blog-place .blog-text .head-and-about h3 {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
}
@media (max-width: 900px) {
  .blog-post .blog-place .blog-text .head-and-about h3 {
    font-size: 20px;
  }
}
.blog-post .blog-place .blog-text .head-and-about p {
  color: #98989A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.54px;
}
.blog-post .blog-place .blog-text table {
  margin-bottom: 10px;
}
.blog-post .blog-place .blog-text table tr th {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
  padding: 2px;
}
@media (max-width: 900px) {
  .blog-post .blog-place .blog-text table tr th {
    font-size: 14px;
  }
}
.blog-post .blog-place .blog-text table tr td {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
  padding: 2px;
}
@media (max-width: 900px) {
  .blog-post .blog-place .blog-text table tr td {
    font-size: 14px;
  }
}
.blog-post .blog-place .blog-text .blog-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #262626;
  padding: 5px 10px;
  border-radius: 10px;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .likes p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .likes i {
  color: #98989A;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .sent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #262626;
  padding: 5px 10px;
  border-radius: 10px;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .sent p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.blog-post .blog-place .blog-text .blog-btns .act-btns .sent i {
  color: #98989A;
}

.top-posts {
  padding: 60px 80px;
  border-bottom: 1px solid #262626;
}
.top-posts .post-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 900px) {
  .top-posts .post-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.top-posts .post-row .post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.top-posts .post-row .post-card .post-img img {
  width: 100%;
  height: 185px;
}
.top-posts .post-row .post-card .post-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.top-posts .post-row .post-card .post-text h3 {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.top-posts .post-row .post-card .post-text p {
  color: #98989A;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.top-posts .post-row .post-card .post-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
}
.top-posts .post-row .post-card .post-btns .acts-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  gap: 20px;
}
.top-posts .post-row .post-card .post-btns .acts-btns .likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  background-color: #262626;
  padding: 5px 10px;
  border-radius: 10px;
}
.top-posts .post-row .post-card .post-btns .acts-btns .likes p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.top-posts .post-row .post-card .post-btns .acts-btns .likes i {
  color: #98989A;
}
.top-posts .post-row .post-card .post-btns .acts-btns .sent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  background-color: #262626;
  padding: 5px 10px;
  border-radius: 10px;
}
.top-posts .post-row .post-card .post-btns .acts-btns .sent p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.top-posts .post-row .post-card .post-btns .acts-btns .sent i {
  color: #98989A;
}
.top-posts .post-row .post-card .post-btns .read-more i {
  color: #FFD11A;
  font-size: 18px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 50px 80px;
  border-bottom: 1px solid #262626;
}
.filters .filter-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 900px) {
  .filters .filter-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.filters .filter-btns .btn {
  flex: 1 0 0;
  border: 1px solid #262626;
  background-color: #1A1A1A;
  padding: 24px 30px;
  border-radius: 8px;
  color: #98989A;
}
.filters .filter-btns .btn:hover {
  background-color: #262626;
}
.filters .filter-btns #active-btn {
  background-color: #262626;
  color: white;
}

.tweet {
  padding: 60px 80px;
  border-bottom: 1px solid #262626;
}
.tweet .tweet-place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 160px;
}
@media (max-width: 900px) {
  .tweet .tweet-place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.tweet .tweet-place .pic-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.tweet .tweet-place .pic-name .profile-pic img {
  border-radius: 42px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.tweet .tweet-place .pic-name .acc-name h4 {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.54px;
}
.tweet .tweet-place .pic-name .acc-name p {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.tweet .tweet-place .post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
@media (max-width: 900px) {
  .tweet .tweet-place .post-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
.tweet .tweet-place .post-details .post-preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tweet .tweet-place .post-details .post-preview #date {
  color: #98989A;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.54px;
}
.tweet .tweet-place .post-details .post-preview h3 {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.66px;
}
.tweet .tweet-place .post-details .post-preview #preview {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.tweet .tweet-place .post-details .post-preview .act-btns {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1A1A1A;
  padding: 5px 10px;
  border-radius: 10px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .likes p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .likes i {
  color: #98989A;
}
.tweet .tweet-place .post-details .post-preview .act-btns .chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1A1A1A;
  padding: 5px 10px;
  border-radius: 10px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .chat p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .chat i {
  color: #98989A;
}
.tweet .tweet-place .post-details .post-preview .act-btns .sent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1A1A1A;
  padding: 5px 10px;
  border-radius: 10px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .sent p {
  color: #98989A;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
.tweet .tweet-place .post-details .post-preview .act-btns .sent i {
  color: #98989A;
}
@media (max-width: 900px) {
  .tweet .tweet-place .post-details .read-more {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
.tweet .tweet-place .post-details .read-more button i {
  color: #FFD11A;
}

.video .rowk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 60px;
  border-bottom: 1px solid #262626;
}
@media (max-width: 900px) {
  .video .rowk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
.video .rowk .one-video {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video .rowk .one-video .video-prew img {
  width: 590px;
  height: 331px;
}
@media (max-width: 900px) {
  .video .rowk .one-video .video-prew img {
    width: 358px;
    height: 210px;
  }
}
.video .rowk .one-video .video-desc {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.video .rowk .one-video .video-desc h3 {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.6px;
}
.video .rowk .one-video .video-desc p {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.ad {
  background-color: #1A1A1A;
  padding: 80px;
  border-bottom: 1px solid #262626;
}
.ad .ad-place {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ad .ad-place .first-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.ad .ad-place .first-sec .ad-logo img {
  width: 120px;
  height: 120px;
}
@media (max-width: 900px) {
  .ad .ad-place .first-sec .ad-logo img {
    width: 60px;
    height: 60px;
  }
}
.ad .ad-place .first-sec .ad-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.ad .ad-place .first-sec .ad-info #cat {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  background-color: #262626;
  padding: 2px;
  width: 220px;
  text-align: center;
}
.ad .ad-place .first-sec .ad-info h1 {
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.32px;
}
@media (max-width: 900px) {
  .ad .ad-place .first-sec .ad-info h1 {
    font-size: 28px;
  }
}
.ad .ad-place .first-sec .ad-info #desc {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.ad .ad-place .other-links {
  background-color: #141414;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #1A1A1A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}
@media (max-width: 900px) {
  .ad .ad-place .other-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.ad .ad-place .other-links .link-box {
  padding: 30px;
  flex: 1 0 0;
  background-color: #1A1A1A;
  border-radius: 10px;
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 900px) {
  .ad .ad-place .other-links .link-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.ad .ad-place .other-links .link-box .line-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 170px;
}
@media (max-width: 900px) {
  .ad .ad-place .other-links .link-box .line-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.ad .ad-place .other-links .link-box .line-heading h2 {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.54px;
}
.ad .ad-place .other-links .link-box .line-heading button {
  border: none;
  border-radius: 50%;
  background-color: #FFD11A;
  height: 40px;
  width: 40px;
}
.ad .ad-place .other-links .link-box .line-heading button i {
  font-size: 24px;
}
.ad .ad-place .other-links .link-box p {
  color: #98989A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}/*# sourceMappingURL=style.css.map */